<div id="top" class="topnav">
    <nav id="nav">
        <ul id='navbar'>
            <li><a href="/" id="logo-link"><img src="/images/NM1.png" alt="Logo" id="logo"></a></li>
            <li><a href="/">Home</a></li>
            <li>
              <div class="dropdown">
                <button class="dropbtn"><a id="resumebutton" href="/resume">My Resume</a></button>
                <div class="dropdown-content">
                  <a id="dropitem" href="/resume#Experience">Experience</a>
                  <a id="dropitem" href="/resume#Skills">Skills & Tools</a>
                  <a id="dropitem" href="/resume#Courses">Courses & Achievements</a>
                  <a id="dropitem" href="/resume#Education">Education</a>
                </div>
              </div>
            </li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/about">About Me</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</div>