/* CSS for all pages*/
top{
  color: #379683;
 }
body{
 text-align:center;
 color: #05386B;
 margin: 0;
 font-family: 'Open Sans', sans-serif;
}
nav{
 position: fixed;
 top: 0;
 display: flex;
 align-items: center;
 align-content: center;
}
nav ul {
 text-align: left;
 position: fixed;
 width: 100%;
 font-weight: bold;
 padding: 40px 0px 0px 0px;
 color: #379683;
}
nav ul li {
 display: inline-block;
 border-radius: 10%;
 padding: 10px;
}
a {
  color: #05386B;
 }
#welcome-section {
 height: 100vh;
 min-height: 120vh;
 padding-top: 45vh;
 text-align: center;
 box-sizing: border-box;
 background-color: #5CDB95;
}
img{
 width: 10%;
}
#resume{
 background-color: #fff;
 color: #05386B;
}
#resume-main{
 background-color: #fff;
 color: #05386B;
 width: 60%;
 text-align: justify;
 margin: auto;
}
hr{
 background-color:#5CDB95;
 border-color: #5CDB95;
}
h1{
 text-align:center;
}
footer{
 color: #05386B;
}
.content {
  display: none;
}
#contact{
  Background-color:#5CDB95;
}