/* CSS for all pages*/
body{
 text-align:center;
 color: #05386B;
 margin: 0;
 font-family: 'Open Sans', sans-serif;
}
hr{
  background-color:#5CDB95;
  border-color: #5CDB95;
 }
 h1{
  text-align:center;
 }
 footer{
  color: #05386B;
 }
/*Navigation Bar CSS */
.topnav {
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
}
.topnav a {
  float: left;
  color: #05386b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #5cdb95;
  color: white;
}
.topnav ul{
  font-weight:bold;
}
nav ul li {
 display: block;
}
/*Link colour*/
a {
  color: #05386B;
  font-weight: bold;
  cursor: pointer;
 }

/*homepage*/
#welcome-section {
 height: 100vh;
 min-height: 120vh;
 padding-top: 45vh;
 text-align: center;
 box-sizing: border-box;
 background-color: #5CDB95;
 }
 /* can go into section above: clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 6vw), 0% 100%);*/
img{
 width: 10%;
}
#resume{
 background-color: #fff;
 color: #05386B;
 padding-bottom: 6vh;
}
#resume-main{
 background-color: #fff;
 color: #05386B;
 width: 60%;
 text-align: justify;
 margin: auto;
}

/*Contact Page*/

.contactform{
  padding:2vh;
}
.form-style{
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
}
.form-style h1{
	background: #5cdb95;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
.form-style input[type="text"],
.form-style input[type="email"],
.form-style textarea,
.form-style select 
{
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
{
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}

.form-style input[type="submit"],
.form-style input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #5cdb95;
	border-bottom: 2px solid #30C29E;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}
.form-style input[type="submit"]:hover,
.form-style input[type="button"]:hover{
	background: #2EBC99;
	cursor: pointer;
}
