<div id="contact-section" class="contact">
    <p>Want to get in touch? You can either send me an email at <a href="mailto:<%= content.email || 'moskownadav@gmail.com' %>"><%= content.email || 'moskownadav@gmail.com' %></a> or fill out the form below</p>
    
    <div id="contact-form" class="contactform">
        <div class="form-style">
            <form method="post" action="/contact" id="contact-form-element">
                <input type="text" name="name" placeholder="Your Name" required oninvalid="this.setCustomValidity('Please Enter Your Name')" oninput="setCustomValidity('')"/>
                <input type="tel" name="phone" placeholder="Your Phone Number" />
                <input type="email" name="email" placeholder="Email Address" required />
                <textarea name="message" placeholder="Type your Message" required></textarea>
                <input type="submit" value="Send" />
            </form>
        </div>
    </div>
</div>
<hr>